// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Mine
$bg-color: #F1F1F1;
$main: #FFB91E;
$dark-main: #CF7500;
$light-main: #ebb236;
$dark: #1A1C20;
$light: #a3a3a3;
$strong-light: #fff;
$foucs-color: rgb(240 165 0 / 50%);
$borders-color: rgba(0,0,0,.125);