@import 'variables';

body {
    font-family: 'Acme', sans-serif!important;
    background-image: url('/img/bg.jpg');
    backdrop-filter: blur(3px);
    background-attachment: fixed;
    background-size: cover;
    background-color: $bg-color!important;
    color: $dark;
}

.navbar {
    background-color: $main!important;
    color: $dark;
    border-radius: 0px 0px 50px 0px;
    box-shadow: 3px 5px 10px #888888!important;
}

.card {
    border-radius: 8px 8px 8px 8px!important;
}

.card-header {
    background-color: $main!important;
    color: $dark;
    border-radius: 8px 8px 0px 0px!important;
}

.card-body {
    border-radius: 0px 0px 8px 8px!important;
}

.btn-primary {
    background-color: $main!important;
    color: $dark;
    border: solid 1px $light!important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem $foucs-color!important;
}

.form-control {
    color: $dark;
    border: solid 1px $light!important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem $foucs-color!important;
}

.dropdown-menu {
    border-radius: 10px;
}

.dropdown-item:hover{
    background-color: $light-main!important;
}

.dropdown-item:focus{
    background-color: $main!important;
}

.home-container {
    margin-right: 0!important;
    margin-left: 0!important;
    max-width: none!important;
}

.feed {
    margin: auto;
}

.feed-post {
    border: 1px solid $borders-color;
    border-radius: 8px;
    background-color: $strong-light;
    padding: 10px;
    margin-bottom: 11px;
}

.post-header-title {
    font-size: larger;
    font-weight: bolder;
}

.author-image {
    width: 100%;
    border: 1px solid $borders-color;
    border-radius: 30px;
}

.author-name {
    color: $main!important;
    font-size: larger;
}

.author-name:hover {
    text-decoration: none;
}

.post-time {
    color: $light;
    font-size: xx-small;
}
.post-hr {
    margin-top: 0px;
    border: 0px solid $borders-color;
}

.post-header-tags {
    padding-bottom: 3px;
}

.tag {
    background-color: $main;
    color: $strong-light;
    border: 1px solid $borders-color;
    border-radius: 20px;
    font-size: x-small;
    padding: 2px 6px;
    margin-right: 4px;
    margin-left: 4px;
}

.tag:hover{
    color: $strong-light;
    font-weight: bolder;
    font-size: small;
    text-decoration: none;
    box-shadow: 0 0 0 0.2rem $foucs-color!important;
}

.post-content{
    padding: 10px;
}

.attachments {
    width: 50%;
    border-radius: 10px;
    color: $dark!important;
}

.post-attachment {
    border-radius: 10px;
    width: 100%;
    border: 1px solid $borders-color;
    background-color: $borders-color;
}

.post-attachment img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.attachment-title {
    color: $dark;
    font-weight: bold;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    filter: invert(100%);
}

.carousel-indicators li{
    filter: invert(100%);
}

.carousel-indicators{
    margin-bottom: 0px!important;
}

.carousel-caption{
    padding-bottom: 0px!important;
}
.websiteLogo-container{
    position: absolute;
    top: 2px;
    left: 10px;
    transform: translate(0, 105%);
    background-color: $main;
    border-radius: 0 0 150px 150px;
    width: 100px;
    height: 50px;
    box-shadow: 3px 5px 10px #888888!important;
}
.websiteLogo{
    width: 100px;
    position: absolute;
    top: 2px;
    left: 10px;
    object-fit: fill;
    border-radius: 50px;
    border: 8px solid $main;
}

.navbar-brand{
    font-weight: bolder;
    margin-left: 100px;
}

.navlist {
    margin-bottom: 0px;
}

.navlist li{
    display: inline;
    padding: 0px 8px;
}

.navlist a{
    color: $strong-light!important;
    font-weight: bold;
}

.navlist a:hover{
    color: $strong-light!important;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
}

.nav-active a{
    color: $strong-light!important;
    text-decoration: underline;
    font-weight: bold;
}

.nav-link{
    color: $strong-light!important;
    font-weight: bolder;
}

.fit-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.task-link{
    color: $dark;
}

.task-link:hover{
    color: $dark-main;
    text-decoration: none;
}

.task-menu-header{
    border: 1px solid $borders-color;
    border-radius: 5px 5px 0px 0px;
    background-color: $light;
    padding-left: 10px;
}

.task-menu-body{
    border: 1px solid $borders-color;
    background-color: $strong-light;
    border-radius: 0px 0px 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: small;
    margin-bottom: 10px;
}

.task-counter{
    font-size: small;
    margin-top: 2px;
    background-color: $strong-light;
    padding: 4px;
    border-radius: 5px;
}

.task-table{
    border: 1px solid $borders-color;
}

.task-tag{
    background-color: $main!important;
    border: 1px solid $borders-color;
    border-radius: 30px;
    color: $strong-light;
    border-bottom-color: $borders-color!important;
}

.task-tag:hover{
    text-decoration: none!important;
    color: $strong-light!important;
    box-shadow: 0 0 0 0.2rem $foucs-color!important;
}

.a-button{
    background-color: $main!important;
    color: $dark;
    border: solid 1px $light!important;
}

.a-button:active {
    box-shadow: 0 0 0 0.2rem $foucs-color!important;
}

.profile-main-view{
    border: 1px solid $borders-color;
    border-radius: 8px;
    background-color: $strong-light;
    padding: 10px;
    min-height: 100px;
}

.profile-secondary-view{
    border: 1px solid $borders-color;
    border-radius: 8px;
    background-color: $strong-light;
    padding: 10px;
    min-height: 100px;
}

.profilepic{
    width: 80%;
    margin: auto;
}

.profilepic img{
    width: 100%;
    border: 1px solid $borders-color;
    border-radius: 30px;
}

.profile-info{
    width: 75%;
    margin: auto;
}

.info-type{
    font-weight: bolder;
}

.info{
    color: $dark-main;
}

.profile-edit{
    border: 1px solid $borders-color;
    border-radius: 8px;
    background-color: $strong-light;
    padding: 10px;
    min-height: 100px;
}