body {
  font-family: "Acme", sans-serif !important;
  background-image: url("/img/bg.jpg");
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-attachment: fixed;
  background-size: cover;
  background-color: #F1F1F1 !important;
  color: #1A1C20;
}

.navbar {
  background-color: #FFB91E !important;
  color: #1A1C20;
  border-radius: 0px 0px 50px 0px;
  box-shadow: 3px 5px 10px #888888 !important;
}

.card {
  border-radius: 8px 8px 8px 8px !important;
}

.card-header {
  background-color: #FFB91E !important;
  color: #1A1C20;
  border-radius: 8px 8px 0px 0px !important;
}

.card-body {
  border-radius: 0px 0px 8px 8px !important;
}

.btn-primary {
  background-color: #FFB91E !important;
  color: #1A1C20;
  border: solid 1px #a3a3a3 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 165, 0, 0.5) !important;
}

.form-control {
  color: #1A1C20;
  border: solid 1px #a3a3a3 !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 165, 0, 0.5) !important;
}

.dropdown-menu {
  border-radius: 10px;
}

.dropdown-item:hover {
  background-color: #ebb236 !important;
}

.dropdown-item:focus {
  background-color: #FFB91E !important;
}

.home-container {
  margin-right: 0 !important;
  margin-left: 0 !important;
  max-width: none !important;
}

.feed {
  margin: auto;
}

.feed-post {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 11px;
}

.post-header-title {
  font-size: larger;
  font-weight: bolder;
}

.author-image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 30px;
}

.author-name {
  color: #FFB91E !important;
  font-size: larger;
}

.author-name:hover {
  text-decoration: none;
}

.post-time {
  color: #a3a3a3;
  font-size: xx-small;
}

.post-hr {
  margin-top: 0px;
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.post-header-tags {
  padding-bottom: 3px;
}

.tag {
  background-color: #FFB91E;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  font-size: x-small;
  padding: 2px 6px;
  margin-right: 4px;
  margin-left: 4px;
}

.tag:hover {
  color: #fff;
  font-weight: bolder;
  font-size: small;
  text-decoration: none;
  box-shadow: 0 0 0 0.2rem rgba(240, 165, 0, 0.5) !important;
}

.post-content {
  padding: 10px;
}

.attachments {
  width: 50%;
  border-radius: 10px;
  color: #1A1C20 !important;
}

.post-attachment {
  border-radius: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.125);
}

.post-attachment img {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.attachment-title {
  color: #1A1C20;
  font-weight: bold;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-indicators li {
  filter: invert(100%);
}

.carousel-indicators {
  margin-bottom: 0px !important;
}

.carousel-caption {
  padding-bottom: 0px !important;
}

.websiteLogo-container {
  position: absolute;
  top: 2px;
  left: 10px;
  transform: translate(0, 105%);
  background-color: #FFB91E;
  border-radius: 0 0 150px 150px;
  width: 100px;
  height: 50px;
  box-shadow: 3px 5px 10px #888888 !important;
}

.websiteLogo {
  width: 100px;
  position: absolute;
  top: 2px;
  left: 10px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50px;
  border: 8px solid #FFB91E;
}

.navbar-brand {
  font-weight: bolder;
  margin-left: 100px;
}

.navlist {
  margin-bottom: 0px;
}

.navlist li {
  display: inline;
  padding: 0px 8px;
}

.navlist a {
  color: #fff !important;
  font-weight: bold;
}

.navlist a:hover {
  color: #fff !important;
  font-size: x-large;
  text-decoration: none;
  font-weight: bold;
}

.nav-active a {
  color: #fff !important;
  text-decoration: underline;
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
  font-weight: bolder;
}

.fit-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-link {
  color: #1A1C20;
}

.task-link:hover {
  color: #CF7500;
  text-decoration: none;
}

.task-menu-header {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px 5px 0px 0px;
  background-color: #a3a3a3;
  padding-left: 10px;
}

.task-menu-body {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: small;
  margin-bottom: 10px;
}

.task-counter {
  font-size: small;
  margin-top: 2px;
  background-color: #fff;
  padding: 4px;
  border-radius: 5px;
}

.task-table {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.task-tag {
  background-color: #FFB91E !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 30px;
  color: #fff;
  border-bottom-color: rgba(0, 0, 0, 0.125) !important;
}

.task-tag:hover {
  text-decoration: none !important;
  color: #fff !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 165, 0, 0.5) !important;
}

.a-button {
  background-color: #FFB91E !important;
  color: #1A1C20;
  border: solid 1px #a3a3a3 !important;
}

.a-button:active {
  box-shadow: 0 0 0 0.2rem rgba(240, 165, 0, 0.5) !important;
}

.profile-main-view {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  min-height: 100px;
}

.profile-secondary-view {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  min-height: 100px;
}

.profilepic {
  width: 80%;
  margin: auto;
}

.profilepic img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 30px;
}

.profile-info {
  width: 75%;
  margin: auto;
}

.info-type {
  font-weight: bolder;
}

.info {
  color: #CF7500;
}

.profile-edit {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  min-height: 100px;
}

.about-table {
  padding: 10px;
  justify-content: center;
}

.about-pic {
  width: 60%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 30px;
}

.heading h1 {
  margin: auto;
  justify-self: center;
  display: inline;
}

.form-group textarea {
  resize: none;
  min-height: 150px;
}

.at input {
  width: 85%;
}

.at button {
  width: 10%;
  margin-left: 4%;
  padding: 4px;
}
